@model List<AGONFRONT.Models.Productos>
@{
    ViewBag.Title = "Frutas";
    Layout = "~/Views/Shared/_LayoutLoged.cshtml";
}

<h2>Cereales</h2>

<div class="container my-5">
    <h2 class="text-center mb-4">Cereales</h2>

    <div class="row">
        @foreach (var producto in Model.Where(p => p.CategoriaId == 4)) // Filtrado en la vista
        {
            <div class="col-md-3 mb-4 productoRow" data-categoria="@producto.CategoriaId">
                <div class="card">
                    <div class="card-body">
                        <img src="@producto.UrlImagen" class="card-img-top" alt="@producto.Nombre" style="height: 200px; object-fit: cover;">
                        <h5 class="card-title">@producto.Nombre</h5>
                        <p class="card-text">@producto.Descripcion</p>
                        <p class="card-text"><strong>$@producto.Precio</strong></p>
                        <p class="card-text"><small class="text-muted">Stock: @producto.Stock</small></p>
                        <p class="card-text"><small class="text-muted">Creado: @producto.FechaCreacion.ToString("dd/MM/yyyy")</small></p>
                        <a href="@Url.Action("Detalles", "Producto", new { id = producto.Id })" class="btn btn-primary">Ver Detalles</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>