@model IEnumerable<AGONFRONT.Models.Categoria>
@{
    ViewBag.Title = "Categorías";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Categorías</h2>

<p>
    @Html.ActionLink("Nueva Categoría", "CrearCategoria", "Admin", null, new { @class = "btn btn-success" })
</p>

@if (TempData["Success"] != null)
{
    <div class="alert alert-success">@TempData["Success"]</div>
}
@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">@TempData["Error"]</div>
}

<table class="table table-bordered table-hover">
    <thead class="thead-dark">
        <tr>
            <th>#</th>
            <th>Nombre</th>
         </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Nombre</td>
            </tr>
        }
    </tbody>
</table>
